<h1>Howdy Howdy you Bout it Bout it?</h1>
<p>Lots of interesting stuffs.</p>
<p>My favorite color is <%= @color %></p>

<% if @size > 12 %>

	<p>I wear size <%= @size %></p>
	<p>I have HUGE feet!!</p>

<%else%>
	<p>I wear size <%= @size %></p>
<% end %>  
